* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8aaee0;
}

.container {
    height: fit-content;
    width: 100%;
    background-color: #8aaee0;
}

.left {
    margin-top: 50px;
    display: grid;
    justify-content: center;
}
.form-controll{
    display: none;
}
.form-control {
    width: 400px;
    padding: 3px 7px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
}
.horizontal{
    display: none;
}
.heading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
.btn2 {
    display: none;
}
.btn1 {
    display: block;
    padding: 10px 20px;
    background-color: #395886;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.right {
    display: grid;
    justify-content: center;
    margin-right: 10px;
}

.vertical {
    margin-top: 80px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

tr {
    display: flex;
    background-color: white;
}

th,
td {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    width: 100%;
    max-width: 200px;
    height: 50px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

@media (max-width: 600px) {
    .btn1 {
        display: none;
    }
    .btn2 {
        width: 200px;
        display: inline ;
        margin-left: 17px;
        padding: 10px 20px;
        background-color: #395886;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
    .form-controll {
        display: block;
        width: 250px;
        padding: 3px 7px;
        height: 50px;
        background-color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        font-family: Arial, Helvetica, sans-serif;
    }
    .form-control {
        display: none;
        
    }
    .left {
        margin-top: 50px;
    }

   

    .right {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .vertical {
        display: none;
    }

    .horizontal {
        display: block;
        margin-top: 100px;
        font: bold;
        align-items: center;
        justify-content: center;
    }

    tr td {
        padding-top: 14px;
        width: 110px;
        height: 80px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .heading {
        text-align: center;
    }
}